# Backend .dockerignore
node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
Thumbs.db
*.log
vendor
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
tests
.phpunit.result.cache
phpunit.xml
.env.example
.env.testing
docker-compose.yml
docker-compose.override.yml
Dockerfile
.dockerignore
